<div class="container">
<br>
  <div id="map-canvas" style="height:40px;">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location+ " BANGALORE"}" %>
  </div>
  <div class="card" style="margin-top: 280px;">
    <div class="card-body">
      <p id="notice"><%= notice %></p>

    
      <br><br>
      <p>
        <strong>Name:</strong>
        <%= @food.name %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @food.link %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @food.location %>
      </p>

      <p>
        <strong>Rating:</strong>
        <%= @food.rating %>
      </p>

      <%= link_to 'Edit', edit_food_path(@food) %> |
      <%= link_to 'Back', foods_path %>


    </div>



<br>